@import "tailwindcss";
@plugin "daisyui";

:root {
  --safe-top: env(safe-area-inset-top, 0px);
  --safe-bottom: env(safe-area-inset-bottom, 0px);
}

body {
  font-family: 'Inter', -apple-system, BlinkMacSystemFont, 'Vazirmatn', 'Segoe UI', Roboto, sans-serif;
  user-select: none;
  -webkit-tap-highlight-color: transparent;
  overflow-x: hidden;
  margin: 0;
  padding: 0;
}

.safe-top {
  padding-top: env(safe-area-inset-top, 16px);
}

.safe-bottom {
  padding-bottom: env(safe-area-inset-bottom, 16px);
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}

.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
